__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
pytest-cache-files-*/
.coverage
htmlcov/

.venv/
venv/
env/

build/
dist/
*.spec~

media/photos/
media/videos/

*.log
*.tmp

*.zip
*.7z
*.tar
*.tar.gz

.DS_Store
Thumbs.db
.vscode/
.idea/
